<div class = "text-center">
	<div class = "container">
        <div class = "row">		  
        	<div class = "col-md-5">
            	<p><img src = "assets/img/logo2.png" width="65%"></p>
          	</div>
          	<div class = "col-md-7">
            	<img src = "assets/img/CNS.png" width="100%">
				<h3>Now Buy Wisely ...</h3>	
          	</div>
		</div>
     </div>
</div>
<div class="row">
    <div class="col-md-3">
		<div class="thumbnail">
			<a href="assets/img/groceries.png" target="_blank">
				<img src="assets/img/groceries.png" alt="Lights" style="width:110%">
				<div class="caption"></div>
			</a>
		</div>
    </div>
    
	<div class="col-md-3">
		<div class="thumbnail">
			<a href="assets/img/groceries1.png" target="_blank">
				<img src="assets/img/groceries1.png" alt="Nature" style="width:95%">
				<div class="caption"></div>
			</a>
		</div>
    </div>
  
    <div class="col-md-3">
		<div class="thumbnail">
			<a href="assets/img/groceries2.png" target="_blank">
				<img src="assets/img/groceries2.png" alt="Fjords" style="width:75%">
				<div class="caption"></div>
			</a>
		</div>
    </div>
    
	<div class="col-md-3">
		<div class="thumbnail">
			<a href="assets/img/groceries3.png" target="_blank">
				<img src="assets/img/groceries3.png" alt="Fjords" style="width:95%">
				<div class="caption"></div>
			</a>
		</div>
    </div>
</div>